*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Livvic", sans-serif;
}
.welcome{
    margin-top: 100px;
    text-align: center;
    margin-bottom: 100px;
}
.welcome h1{
    padding: 20px;
}
.welcome p{
    padding: 20px;
    font-size: 20px;
}
.welcome .buttton p{ 
    background-color: #6C40EA;
    width:max-content;
    border-radius: 10px;
 } 
.features
{
    background:#6C40EA;
    padding: 40px;
    display: grid;
    grid-template-columns:repeat(1,1fr);
    gap: 30px;
    color: #FFFFFF;
    align-items: center;

}
.features .item h3{
font-size: 16px;
text-align: center;
}
.features .item p{
    color: #f6dfdf;
    text-align: center;
}
.features .item i{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    margin-bottom: 20px;
}
.parameters
{
    background: #6C40EA;
    padding: 60px 20px;
}
.parameters .content
{
    margin-top: 10px;
    color:#f6dfdf;
    font-size: 16px;
    margin-top: 60px;
    gap: 20px;
}
.parameters .content h1{
    color: #FFFFFF;
}
.parameters .content .button{
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 16px;
    font-weight: 500;
    width: max-content;
    background-color: #FFFFFF;
    color: #6C40EA;
    text-align: center;
    border-radius: 10px;
}
.parameters .values
{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 20px;
}
.parameters .values .item{
    background: white;
    border-radius: 10px;
    color: black;
    padding: 20px;
}
.parameters .values .item h1
{
 font-size: 16px;
}
.parameters .values .item p
{
 font-size: 16px;
 color: rgb(44, 41, 41);
}
.parameters .values .item i
{
 color:#6C40EA ;
}
.parameters .values .item a
{
 font-size: 16px;
 color: #6C40EA;
 font-weight: 600;
}
.parameters .values .items
{
    display: grid;
    background: #FFFFFF;
}
.aboimg{
    display:grid;
    grid-template-columns: repeat(1,1fr);
}
.aboimg .about{
    align-items: center;
    padding: 40px,40px;
    display: flex;
    flex-direction: column;
}
.aboimg .about .image{
    display: flex;
    width: 300px;
    height: 400px;
    overflow: hidden;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius:99999999999999999px;
}
.aboimg .about-content {
     text-align: center; 
    }
.aboimg .about-content p{
    margin-bottom: 40px;
}
.aboimg .about-content .about-holder {
    background: #6C40EA;
    background: linear-gradient(45deg, #5625dc, #926ef6);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    padding: 30px;
    margin-top: 20px;
    border-radius: 30px;
}
.aboimg .about-content .about-holder .items{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.aboimg .about-content .about-holder .items p {
    height: 80px;
    width: 80px;
    background: white;
    border-radius: 80px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}
.aboimg .about-content .about-holder .items h3 {
    color: #FFFFFF;
    font-size: 25px;
}
.contact{
    margin-top: 30px;
    text-align: center;
}
.info{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    align-items: center;
}
.info .items {
    display: grid;
    grid-template-columns:repeat(2,1fr);
    /* gap: 40px; */
    padding: 20px;
}
.info .items .font{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.info .items .font i{
    color: #6C40EA;
}
.info .items .font .phone .val{
    gap:20px;
    text-align: left;
}
@media only screen and (min-width:560px)
{
    .features{
    grid-template-columns:repeat(3,1fr);
    }
    .parameters .values
    {
        grid-template-columns: repeat(2,1fr);
        gap: 30px;
    }
    .parameters
    {
        padding: 105px 48px;
    }
    .aboimg .about-content .about-holder {
    grid-template-columns: repeat(3,1fr);
    }
    .info{
        grid-template-columns: repeat(2,1fr);
    }
}
@media only screen and (min-width:768px)
{
    .features{
    grid-template-columns:repeat(3,1fr);
    }
    .features .item h3 {
        font-size: 23px;
    }
    .features .item p{
        font: size 20px; ;
    }
    .parameters .values .item h1
    {
     font-size: 20px;
    }
    .parameters .values .item p
    {
    font-size: 20px;
    }
    .aboimg{
        grid-template-columns: repeat(2,1fr);
    }
    .aboimg .about-content
    {
        padding:50px;
    }
    .aboimg .about-content .about-holder{
        grid-template-columns: repeat(1,1fr);
        width: 300px;
        align-items: center;
    }
    .contact .info .items .phone
    {
        font-size: 50px;
    }
}
@media only screen and (min-width:930px)
{
    .features .item h3{
        font-size: 26px;
    }
    .aboimg .about-content .about-holder{
        grid-template-columns: repeat(3,1fr);
        width: 600px;
    }
    .features .item p{
        font-size: 23px;
    }
    .parameters
    {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        gap: 20px;
    }
    .parameters .content h1{
        font-size: 30px;
    }
    .parameters .content p{
        font-size: 30px;
    }
    .parameters .content .button{
        font-size: 25px;
        width: max-content;
}
@media only screen and (min-width:1024px)
{
    .features .item h3{
        font-size: 26px;
    }
    .features .item p{
        font-size: 23px;
    }
    .parameters .values .item h1
    {
     font-size: 25px;
    }
    .parameters .values .item p
    {
    font-size: 25px;
    }
    .parameters .content h1{
        font-size: 35px;
    }
    .parameters .content p{
        font-size: 35px;
    }
    .parameters .content .button{
        font-size: 25px;
        width: max-content;
    }
    .aboimg .about-content .about-holder{
        width: 800px;
    }
}